.team {
  margin-bottom: 70px;
  display: flex;
  gap: 30px;
  max-width: 1140px;
  max-height: 440px;
  margin: 0 auto;
  &__title {
    color: #2c2d35;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
  }
  &__descr {
    color: #2c2d35;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
  &__content {
    display: flex;
    margin-top: 124px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  &__img {
    display: flex;
    gap: 30px;
    img {
      border-radius: 80px;
    }
  }
}
